# Environment
ENVIRONMENT=development

# Server
SERVER_PORT=8080
SERVER_HOST=0.0.0.0

# Database
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSLMODE=

# JWT
JWT_SECRET=
JWT_DURATION_HOURS=24

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# SendGrid
SENDGRID_API_KEY=your-sendgrid-api-key
SENDGRID_FROM_NAME=Crypto Tracker
SENDGRID_FROM_EMAIL=noreply@cryptotracker.com
SENDGRID_TEMPLATE_VERIFY_EMAIL=d-template-id-for-verify-email
SENDGRID_TEMPLATE_RESET_PASSWORD=d-template-id-for-reset-password

# API AUTH
BLOCKDAEMON_KEY=
COINBASE_KEY=
